// IMPORTO BOOTSTRAP
@import '~bootstrap/scss/bootstrap';

// IMPORTO IL FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// REGOLE CSS GENERALI
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// BODY
body {
    font-family: 'Montserrat', sans-serif;
}

.color-title{
    color: #00152D;
}

// HEADER
.header-nav{
    z-index: 2;

    a{
        color: white;
    }
}

.bg-blue{
    background-color: #00152D;
}

.bg-azzurro {
    background-color: #00c1d4;
}

.nav-header{
    text-decoration: none;
    color: white;
    transition: 0.2s;
    border-bottom: 3px solid transparent;

    &.active,
    &:hover {
        color: #00c1d4;
        font-weight: 900;
        transform: scale(1.2);
    }
}

// SIDEBAR
.nav-link{
    transition: 0.5s;

    &:hover {
        background-color: #6C63FF;
        border-radius: 7px;
    }
}

.nav-bottom{
    background-color: #6C63FF;
    border-radius: 13px;
    margin: 5px 0;
    transition: 0.4s;

    &:hover{
        transform: scale(1.1);
    }
}

.bg-violet{
    background-color: #6C63FF;
}

.tech{
    padding-left: 13px;
}

.my-card{
    a{
        text-decoration: none;
    }
}

.lateral-sidebar{
    height: 100vh;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    padding-top: 45px;
}

// BADGE TECHNOLOGIES 
.my_badge{
    padding: 1px 10px;
    border-radius: 8px;
}

.html_badge_blue,
.css_badge_red,
.javascriptl_badge_yellow,
.vuejs_badge_green,
.php_badge_violet,
.laravel_badge_brown,
.phyton_badge_orange {
    color: white;
}

.html_badge_blue{
    background-color: rgb(0, 0, 127);
}

.css_badge_red{
    background-color: rgb(181, 0, 0);
}

.javascriptl_badge_yellow {
    background-color: rgb(164, 158, 0);
}

.vuejs_badge_green {
    background-color: rgb(0, 127, 15);
}

.php_badge_violet {
    background-color: rgb(70, 0, 127);
}

.laravel_badge_brown {
    background-color: rgb(81, 42, 42);
}

.phyton_badge_orange {
    background-color: rgb(127, 57, 0);
}

a{
    text-decoration: none;
    color: #00c1d4;

    &:hover{
        color: #00152D;
    }
}

// MAIN
#content{
    position: absolute;
    bottom: 0;
    top: 100px;
    height: inherit;
    z-index: -1;
    overflow-y: auto;
}

// BOOTSTRAP CLASS CHANGE
.table-dark{
    --bs-table-bg: #00c1d4 !important;
    --bs-table-border-color: #00c1d4 !important;
}

.btn-success{
    --bs-btn-bg: #6C63FF;
    --bs-btn-border-color: #6C63FF;
    --bs-btn-hover-bg: #514cc0;
    --bs-btn-hover-border-color: #514cc0;
    --bs-btn-active-bg: #514cc0;
    --bs-btn-active-border-color: #514cc0;
    --bs-btn-disabled-bg: #6C63FF;
    --bs-btn-disabled-border-color: #6C63FF;
}

.modal-backdrop{
    width: 0;
}